#about .header {
  height: 10vh;
  
}

#about {

}

.wrap-abt {
 width: 100%;
 max-width: 1280px;
 height: 90vh;
 margin: 0 auto;
 align-items: center;
 margin-top: 5vh;
 
 height: fit-content;
 align-items: center;
 text-align: center;
 z-index: 2;
}

.about{
  height: 45vh;
  width: 100%;
  border: 3px solid var(--green);
  margin-bottom: 5vh;
  background: var(--back-light);
  border-radius: 10px;
}
.skills {
  display: flex;
  justify-content: space-between;
}

#about .skills-1, .skills-2 {
  width: 48%;
  height: 30vh;
  border: 3px solid var(--green);
  background: var(--back-light);
  border-radius: 10px;
}