#about .header {
  height: 10vh;
}

.wrap-abt {
 width: 100%;
 max-width: 1280px;
 height: 90vh;
 margin-top: 5vh;
 margin: 0 auto;
 text-align: center;
}

.about{
  height: 45vh;
  width: 100%;
  padding: 1rem 5rem;
  margin-bottom: 5vh;
  background: var(--back-light);
  border-radius: 10px;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.skills {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#about span {
  margin-bottom: 1rem;
  font-size: 2rem;
}

#about .skills-1, .skills-2 {
  width: 48%;
  height: 30vh;
  padding: 1rem 5rem;
  border-radius: 10px;
  background: var(--back-light);
 
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#about .skills .wrapper {
  height: auto;
  align-items: center;
  margin: 0 auto;
}