body .wrapper {
  width: 90%;
  max-width: 1280px;
  margin: auto;
}

#home,
#projects,
#about,
#contato {
  width: 100%;
  height: 100vh;
  max-width: 1280px;
}

/*Header*/
header {
  position: fixed;
  width: 95%;
  max-width: 1900px;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: right;
  z-index: 1;
  background: var(--back-dark);
}

.topnav {
  width: 100%;
  padding: 1.5rem;
}

.topnav a {
  padding-right: 1.5rem;
  letter-spacing: 2px;
}

/* Home content */
#home .wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
}

#home .intro {
  width: 50%;
  height: 100%; 
}

#home .name {
  width: 550px;
  margin-top: 20vh;
  margin-bottom: 0.3rem;
  font-size: 7rem;
  font-weight: 500;
  font-style: italic;
  letter-spacing: 5px;
  text-align: center;
  color: var(--text);
}

#home .surname{
  width: 270px;
  margin-bottom: 0.3rem;
  font-size: 7rem;
  font-weight: 500;
  font-style: italic;
  letter-spacing: 5px;
  text-align: center;
  color: var(--text);
}

/* Span Front Dnd Develop */
.intro span {
  font-size: 3rem;
  letter-spacing: 1px;
  color: var(--title);
 }

/* Glogal buttons */
.buttons {
  margin-top: 4rem;
}

.buttons > span {
  font-weight: 600;
  letter-spacing: 1px;
  color: var(--purple);
}

.btn-linkdin, 
.btn-github {
  height: 80px;
  width: 265px;
  margin-top: 1rem;
  display: inline-block;
  
  text-align: center;
  border-radius: 1px;
  border: none;
  transition: all 0.5s;
  cursor: pointer;
}

/* Linkdin buttons */
.btn-linkdin span {
  position: relative;
  transition: 0.5s;
  color: var(--back-light);
}

.btn-linkdin span:after {
  content: '\00AB';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
  font-style: italic;
}

.btn-linkdin:hover span {
  padding-right: 25px;
  font-style: italic;
  color: #2867B2;
}

.btn-linkdin:hover span:after {
  right: 0;
  opacity: 1;
  font-style: italic;
  color: #2867B2;
}

/* Gihub buttons */
.btn-github span {
  position: relative;
  transition: 0.5s;
  color: var(--back-light);
}

.btn-github span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  left: -20px;
  transition: 0.5s;
  color: var(--purple);
}

.btn-github:hover span {
  padding-left: 25px;
  font-style: italic;
  color: var(--purple);
}

.btn-github:hover span:after {
  left: 0;
  opacity: 1;
  color: var(--purple);
}

/* home-photo-container */
.photo {
  width: 50%;
  height: 100%;
}

#home .photo img {
  width: 100%;
  height: 100%;
}


/* RESPONSIVE */
















/*Projects*/


#projects .wrapper {
  width: 100%;
  height: 100%;
  background: var(--back-dark);
}

#about .wrapper {
  width: 100%;
  height: 100%;
  background: var(--back-dark);
}

#contato .wrapper {
  width: 100%;
  height: 100%;
  background: var(--back-dark);
}


/*


*/