body .wrapper {
  width: 100%;
  margin: auto;
  background: var(--back-dark);
}


header,
#home,
#projects,
#about,
#contato {
  width: 100%;
  height: 100vh;
  margin: auto;
}

header {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  background: var(--back-dark);
}

.topnav {
  padding: 1rem;
  text-align: right;
}

.topnav a {
 padding-right: 2rem;
}

#home .wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  background: var(--back-dark);
}

#projects .wrapper {
  width: 100%;
  height: 100%;
  background: var(--back-dark);
}

#about .wrapper {
  width: 100%;
  height: 100%;
  background: var(--back-dark);
}

#contato .wrapper {
  width: 100%;
  height: 100%;
  background: var(--back-dark);
}
